<div class="container">
  <script src="/js/userDashboard.js"></script>
  <div class="row" id="pwd-container">
    <div class="col-md-12">
      <section class="login-form">
        <form method="post" action="#" role="login">
          <img src="/images/userInfo.png" class="img-responsive" alt="" />

           <div class="col-md-6">
                        <h4 >Identification</h4>
                        <input type="text"  name="account-number-source" placeholder="" required class="form-control input-lg" value={{User.first_name}} />
                        <input type="text"  name="transfer-amount-source" placeholder="" required class="form-control input-lg" value={{User.last_name}} />
                      </div>
                      <div class="col-md-6">
                    <h4 >User Details</h4>
                       <input type="text"  name="account-number-destination" placeholder="" required class="form-control input-lg" value={{User.joinDate}} />
                       <input type="text" id="email" name="transfer-note" placeholder="" required class="form-control input-lg" value={{User.email}} />
                      </div>
                      
                <h5 style="color:#f2f2f2"> Placeholder </h5>
                <img src="/images/transactionHistory.png" class="img-responsive" alt="" />
                <div class="row">
                <ul class="nav nav-pills nav-justified" style="">
                  <li class="active"><a data-toggle="pill" href="#checkings">Checking</a></li>
                  <li><a data-toggle="pill" href="#savings">Savings</a></li>
                </ul>
                <div class="tab-content">
                  <div id="checkings" class="tab-pane fade in active">
                    <h3 id="checkingBalance" style="color:green">Account Balance: $450.56</h3>
                    <!-- Checkings User List-->
                                <div class="panel panel-success">
                                  <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Transaction History</strong></h3>
                                  </div>
                                  <div class="panel-body">
                                    <table class="table table-hover" id='user-table-transactions-checkings'>
                                      <thead style="text-align:center">
                                        <tr>
                                          <th>id</th>
                                          <th>Date</th>
                                          <th>Transaction Type</th>
                                          <th>Amount</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                      </tbody>
                                    </table>
                                  </div>
                              </div>
                  </div>
                  <div id="savings" class="tab-pane fade">
                    <h3 id="savingBalance"style="color:green">$0.00</h3>
                    <!-- Savings User List-->
                                <div class="panel panel-success">
                                  <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Transaction History</strong></h3>
                                  </div>
                                  <div class="panel-body">
                                    <table class="table table-hover" id='user-table-transactions-savings'>
                                      <thead>
                                        <tr>
                                          <th>ID</th>
                                          <th>Date</th>
                                          <th>Transaction Type</th>
                                          <th>Amount</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                      </tbody>
                                    </table>
                                  </div>
                              </div>
                  </div>
                </div>
        </form>
      </section>
      
      </div>
  </div>

  